<div id="app">
  <div v-bind:class="'alert alert-' + game_state_class">
    {{ game_state_message }}
  </div>

  <div style="width: 40%; float:left ;">
      <%= render "_gallows.html"  %>
  </div>
  <div style="width: 40%; float: right;">
      <%= render "_status.html" %>
  </div>
</div>
