<p>Turns left: <%= @tally.turns_left %></p>
<p>Word so far: <%= @tally.letters |> join_letters %></p>

<%= if game_over?(@tally) do %>
    <%= new_game_button(@conn) %>
<% else %>
    <%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move_data, method: :put], fn form -> %>
    <%= text_input(form, :guess, autofocus: "true") %>
    <%= submit("Make next move") %>
    <% end) %>
<% end %>
